
@{
    ViewData["Title"] = "سیاست حریم خصوصی";
}
@section Head{
    <meta name="description" content="وب سایت دیجی استور برترین وب سایت در زمینه فیلم و سریال - @ViewData["Title"]" />
}
<div class="row">
    <div class="md">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>

